@import "./reset.css";

/** FONTS **/

@font-face {
  font-family: 'Neucha Regular';
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf');
}

/** COLORS **/

:root {
  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --background: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --text: #2a2626;
  --text-dark: #212529;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--text);
}

/** COMMONS **/

.container {
  width: 1110px;
  margin: 0 auto;
}

.background {
  background-color: var(--background);
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.1;  
}

.title {
  font-family: 'Neucha Regular';
  line-height: 1.2em; 
}

.title span {
  color: var(--primary);
}

img {
  width: 100%;
}

.col-2 {
  column-count: 2;
  column-gap: 30px;
}

.p-100 {
  padding: 100px 0;
}

.mb-30 {
  margin-bottom: 30px;
}

/* .mb-100 {
  margin-bottom: 100px;
} */

.subtitle {
  font-family: 'Neucha Regular';
  font-size: 24px;
  line-height: 120%;
  color:var(--semi-transparent-dark);
}

.fs-72 {
  font-size: 72px;
}

.description {
  font-family: 'Neucha Regular';
  font-size: 34px;
  line-height: 120%;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  padding: 5px 0 5px 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.bg-brown {
  background-color: var(--brown);
} 

.wht {
  color: var(--white);
}

.col-2 p {
  break-inside: avoid;
}

/** HEADER **/
.header {
  position: relative;
}

.header-title {
  font-size: 72px;
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.header-text {
  margin-bottom: 40px;
}

.header-btn {
  position: relative;
  left: 51.5%;
  display: inline-block;
  font-family: 'Open Sans Bold';
  font-weight: 700;
  line-height: 160%;
/* identical to box height, or 26px */
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--primary);
  padding: 12px 24px;
}

/** VIDEO **/
.video-title {
  font-size: 60px;
  text-align: center;
}

.video-text {
  text-align: center;
  color: var(--text-dark);
}

.video-player {
  position: relative;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  margin-top: -200px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/** NAVIGATION **/

.navigation {
  background-color: var(--primary-dark);
  padding-top: 200px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation-title {
  flex: 0 1 350px;
}

.navigation-title h3 {
  font-size: 52px;
  line-height: 120%;
}

.navigation-card {
  flex: 0 1 350px;
  min-height: 323px;
  background-color: var(--background);
}

.navigation-link {
  color: inherit;
}

.card {
  padding: 24px;
}

.card-subtitle {
  font-family: 'Neucha Regular';
  font-size: 64px;
  line-height: 1;
  color: var(--primary-dark);
  margin-bottom: 40px;
}

.card-title {
  font-family: 'Neucha Regular';
  font-size: 34px;
  line-height: 120%;
  color: var(--primary);
  margin-bottom: 16px;
}

/** IKEA **/

.ikea-effect {
  position: relative;
}